<div class="container">
	
	<div class="blogholder">
	<% @feeds.each do |entry| %>
  		<div class="blogBorder">
			<br/><br/><h2><%= entry.name %></h2>
			<div class="digg_pagination">
				<%= will_paginate @feeds, :page_links => false %>
			</div><br /><br />
			<p><%= simple_format(entry.summary) %></p><br/><br />
		</div>
	<% end %>
	
            
	</div><!--Closing blogholder-->
   
	<div class="mowriting">
   		<h2>More Writing</h2>
   		<div class="icons">
   			<div class="iconography"><%= link_to image_tag('bookIcon.png'), "http://www.goodreads.com/author/show/6507631.Dominic_H_King/blog", :target => '_blank' %>On writing</div>
			<div class="iconography"><%= link_to image_tag('moneyIcon.png'), "http://www.gti.org/thinking/blog/", :target => '_blank' %>On economics</div>
			<div class="iconography"><%= link_to image_tag('sportIcon.png'), "http://www.facebook.com/okhockey", :target => '_blank' %>On hockey</div>
   		</div><!--Closing icons-->
	</div>
</div>
</div>