<div class="grid8">
	<ul class="moreWritingButtons">
		<li class="grid2 gutter">
			<%= link_to image_tag('onWriting.png'), "http://www.goodreads.com/author/show/6507631.Dominic_H_King/blog", :target => '_blank' %><br/>
		</li>
		<li class="grid2 gutter">
			<%= link_to image_tag('onMoney.png'), "http://www.gti.org/thinking/blog/", :target => '_blank' %>
		</li>
		<li class="grid2 gutter">
			<%= link_to image_tag('onSport.png'), "http://www.facebook.com/okhockey", :target => '_blank' %>
		</li>
		<li class="grid2">
			<%= link_to image_tag('onTrolleyBags.png'), "http://ihatetinytrolleybags.tumblr.com/", :target => '_blank' %>
		</li>
	</ul>
</div>

<div class="mainBody padder">
	
	<div class="grid8">
		<div class="grid8">
			<% @feeds.each do |entry| %>
		  		<h4><%= entry.name %></h4>
				<div class="digg_pagination">
					<%= will_paginate @feeds, :page_links => false %>
				</div>
				<%= simple_format(entry.content, class: "blogContent") %>
				<%= (entry.publishedat) %>
			<% end %>
		</div>
	</div>
</div>