<div class="col-md-12">
	<div class="row">
		<ul class="moreWritingButtons">
			<li class="col-md-3">
				<%= link_to image_tag('onWriting.png'), "http://www.goodreads.com/author/show/6507631.Dominic_H_King/blog", :target => '_blank', :class => "more" %><br/>
			</li>
			<li class="col-md-3">
				<%= link_to image_tag('onMoney.png'), "http://www.grantthornton.global/en/insights/?tags=blog#filters", :target => '_blank', :class => "more" %>
			</li>
			<li class="col-md-3">
				<%= link_to image_tag('onSport.png'), "http://www.facebook.com/okhockey", :target => '_blank', :class => "more" %>
			</li>
			<li class="col-md-3">
				<%= link_to image_tag('onTrolleyBags.png'), "http://ihatetinytrolleybags.tumblr.com/", :target => '_blank', :class => "more" %>
			</li>
		</ul>
	</div>
	<div class="strapline2"><h1 class="strap">Recent thoughts</h1></div>
	<div id="divider">&#160;</div>
	<div class="row">
	
		<div class="col-md-12">
			<% @feeds.each do |entry| %>
	  			<h4><%= entry.name %></h4>
				<div class="digg_pagination">
					<%= will_paginate @feeds, :page_links => false %>
				</div>
				<%= simple_format(entry.content, class: "blogContent justify") %>
				<%= (entry.publishedat) %>
			<% end %>
		</div>
	</div>
</div>