<%= link_to image_tag(@book.cover), @book, :class => 'mainImg' %>
	<% if @book.homepageintro? %>
		<div class="introText">
	    	<div class="introTextWords">
	    		<p><span class="headings">The Twin Worlds trilogy </span><%= @book.homepageintro %></p>
	    	</div>
		</div>
	<% end %>


<div class="threeSections">
	<div class="books">
		<%= image_tag ('headerbox1.png') %>
		<% @book_redux.each do |b| %>
			<% if b.review1? || b.review2? || b.review3? %>
				<br /><%= link_to image_tag(b.packshot), "/books" + "/" + @book.title.downcase.gsub(/\s+/, '-').gsub(/[^a-z0-9_-]/, '').squeeze('-'), :class => 'packshot' %>
        		<div class="textBlock2">
					<em>"<%= b.review1 %>"</em><br /><br />
					<em>"<%= b.review2 %>"</em><br /><br />
					<em>"<%= b.review3 %>"</em><br /><br />
				</div>	
			<% end %>
			<% if user_signed_in? %>
				<%= link_to image_tag('edit2.png'), edit_book_path(@book.title.downcase.gsub(/\s+/, '-').gsub(/[^a-z0-9_-]/, '').squeeze('-')), :class => "editRelease3" %>
			<% end %>
		<% end %>
    </div>
    
    <div class="tweets">
		<%= image_tag('headerbox2.png') %><br /><br />
		<div class="twitterBox">
			<% @tweets.each do |t| %>
				<div class="tweet">
					<div class="profile">
						<%= image_tag("https://pbs.twimg.com/profile_images/378800000537985980/79fdbf175c59ae29bd1a77e64dbbf9be.jpeg") %>
					</div><br />
					<div class="tweetText">
						<em><%= raw(t.text) %></em>
					</div><br />
					<%= t.created_at.to_date %><br /><br />
				</div>
			<% end %>
		</div>
		<div class="tweetMore"><%= link_to image_tag('more.png'), 'https://twitter.com/DominicHKing' %></div>
	</div>
    
    <div class="thoughts">
		<%= image_tag('headerbox3.png') %>
        <div class="textBlock">
			<%= simple_format(truncate (@feed.summary), length: 1125, :separator => '.') %>
		</div>
		<%= link_to image_tag('more.png'), other_writing_path, :class => 'readmore' %>
    </div>
</div>


