<% if user_signed_in? %>
	<%= link_to image_tag('edit2.png'), edit_contact_path(1), :class => "editAbout" %>
<% end %>

<% c = Contact.first %>
<div class="more">
	<h1>About the author</h1><br/>
    <%= image_tag(c.avatar) %><br/><br/>
	<p><%= simple_format(c.description) %></p><br/>
</div><!--Closing more-->

<div class="emailForm">

	<div class="emailboxtext">
    	<h1>Connect With Dominic</h1>
        <div class="social">
			<span class="social"><%= link_to "Facebook", (c.facebook), :target => "_blank" %></span>
			<span class="social"><%= link_to "LinkedIn", (c.linkedin), :target => "_blank" %></span>
			<span class="social"><%= link_to "Twitter", (c.twitter), :target => "_blank" %></span>
        </div><!--Closing social--><br/><br>
        
		<h1>Get in touch with Dominic:</h1>
    	<p><%= c.contacttext %></p>
	</div>

	<div class="formContact">	
		<%= form_for(@contact) do |f| %>
			<%= f.label :email, class: 'social' %>
    		<%= f.text_field :email, class: 'formFieldTC'  %><br /><br />
			<%= f.label :name, class: 'social' %>
    		<%= f.text_field :name, class: 'formFieldTC'  %><br /><br />
			<%= f.label :message, class: 'social' %>
    		<%= f.text_area :messagetext, class: 'formFieldTC2'  %><br /><br />
    		<%= f.submit "Send message", class: 'contactSubmit' %>
		<% end %>
	</div>
       
</div><!--Closing emailForm-->