<div class="col-md-12">
	<div class="strapline2"><h1 class="strap">About the author</h1></div>
	<div id="divider">&#160;</div>
	<div class="row">
	
		<div class="col-md-12">

			<div class="col-md-5">
				<h2>About the author</h2>
				<p><%= simple_format(@about.text, :class => "justify padd") %></p><br/>
			</div>
			<div class="col-md-4">
				<ul class="social">
					<li><%= link_to image_tag('twitter.png', :class => 'socialPicture') %></li>
					<li><%= link_to image_tag('facebook.png', :class => 'socialPicture') %></li>
					<li><%= link_to image_tag('linkedin.png', :class => 'socialPicture') %></li>
					<li><%= link_to image_tag('goodreads.png', :class => 'socialPicture') %></li>
				</ul><br/>
				<a class="twitter-timeline" href="https://twitter.com/DominicHKing" data-widget-id="628960248884260864">Loading tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="col-md-3 topper2">
				<%= image_tag(@about.avatar, :class => "avatar padd2") %><br/><br/>
				<h2 class="marg">Contact:</h2>
			    <p class="justify contact"><%= simple_format(@about.getintouchtext, :class => "padd2") %></p>
			</div>
			
			

		</div>
	</div>
</div>