<div class="row topMargin">

	<div class="col-md-4" id="logoETC"><h1><%= link_to 'Dominic H. King', root_path, :class => "logowords" %></h1></div>
	<div class="col-md-2">
		<% if user_signed_in? %>
				{ Logged in as <strong><%= current_user.email %></strong> }
				<%= link_to 'Edit', edit_user_registration_path %> | 
				<%= link_to 'Logout', destroy_user_session_path, :method => :delete %> |
				<%= link_to 'CMS', cms_path %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	
	<div class="col-md-6">
		<ul id="menu" class="navigation option-set clearfix" data-option-key="filter" id="filters">
			<% @books.each do |b| %>
				<%# titlefix = b.title.downcase.gsub(/\s+/, '-').gsub(/[^a-z0-9_-]/, '').squeeze('-') %>
				<!--<li><%#= link_to b.title, "/books" + "/" + titlefix, id: "#{titlefix}" + "nav" %></li>-->
				<li><%= link_to b.title, b %>
			<% end %>
		  	<li><%= link_to 'More', other_writing_path, id: "morenav" %></li>
			<li><%= link_to 'About', about_the_author_path, id: "aboutnav" %></li>
		</ul>
	</div>
	
</div>