<div id="header">

<div id="logoETC"><h1><%= link_to 'Dominic H. King', root_path, :class => "logowords" %></h1></div>
	
<div class="navigation">
	<ul class="navigationButtons">
		<% @books.each do |b| %>
			<% titlefix = b.title.downcase.gsub(/\s+/, '-').gsub(/[^a-z0-9_-]/, '').squeeze('-') %>
			<li><%= link_to b.title, "/books" + "/" + titlefix, id: "#{titlefix}" + "nav" %></li>
		<% end %>
		<li><%= link_to 'The Reaper', reapers_path, id: "reapernav" %></li>
		<li><%= link_to 'More', other_writing_path, id: "morenav" %></li>
		<li><%= link_to 'About', about_the_author_path, id: "aboutnav" %></li>
	</ul>
</div>